<header> 
  <p>Login Page</p> 
</header>
<div>
  <label>Email: </label>
  <input type="text" name="email" />
</div>
<div>
  <label>Password: </label>
  <input type="text" name="password" />
</div>
<%= link_to 'Login', wishes_path %>